# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.ClickerCombat.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\Workspace\Unity Projects\ClickerCombat\.idea\.idea.ClickerCombat\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
